<div class="ui grid">
  <%= entries.each do |entry| %>
    <div class="ui four wide column">
      <div class="ui card">
        <div class="content">
          <div class="centered header"><%= link_to entry.title, journal_path(entry) %></div>
        </div>
        <div class="content blurb"><%= entry.body %></div>
      </div>
    </div>
  <% end %>
</div>
