<h2 class="ui centered header">My Dashboard</h2>

<div class="ui grid">
  <div class="ui four wide column">
    <!-- loop through all a users topicables and generate a card for each (current_user.topicables.each do) -->
    <div class="ui card">
      <div class="content">
        <div class="centered header"><%= link_to "My Journals", my_journals_path %></div>
      </div>
      <div class="content blurb">
        Write down your Journal Entries or general musings!
        This is just the right place to write down those witty one-liners, profound thoughts,
        or short writings that often come to us during the day and are seemingly gone as soon as a light breeze picks up.
      </div>
    </div>
  </div>
</div>
